.classBtnAnalysis {
    border-style: groove;
    background-color: bisque;
    color:rgb(135, 55, 5);
    cursor: pointer;

    font-size: 2rem;
    margin-left:40%;
    margin-bottom: 5%;
}

.classDisplayTitleH1 {
    color: blanchedalmond;
    font-size: 2rem;
    margin-left:10%;
    margin-bottom: 5%;
}

.classDivLinearRegression {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-left:10%;
    margin-bottom: 10%;

    width: 80%;
    height: 80%;
}

#idPlot,
#idLineplot {
    border: solid brown;
}